@model Voting.Models.Party

@{
    ViewData["Title"] = "Index";
}

<section>
    <div class="container">
        <div class="col-lg-4 col-sm-6 text-center">
            <div class="well">
                <h4>What is on your mind?</h4>
                <div class="input-group">
                    <input type="text" id="userComment" class="form-control input-sm chat-input" placeholder="Write your message here..." />
                    <span class="input-group-btn" onclick="addComment()">
                        <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-comment"></span> Add Comment</a>
                    </span>
                </div>
                <hr data-brackets-id="12673">
                <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
                    @foreach (var item in ViewBag.Comments)
                    {
                        <li>
                            <strong class="pull-left primary-font">James</strong>
                            <small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>7 mins ago
                            </small>
                            <br />
                            <p class="ui-state-default">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <a asp-action="Edit" asp-route-id="@item.commentId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.commentId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.commentId">Delete</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>




