@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<section class="mbr-section article content11 cid-rcTTYGtgJ2" id="content11-t">

    <address>
        Ethiopian Vote<br />
        Addis, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        +251 9788999
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:eden.abdisa@yahoo.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:eden.abdisa@yahoo.com">Marketing@example.com</a>
    </address>
</section>