@model Voting.Models.Party
@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="progress-bars3 cid-rgzQRACEJh" id="progress-bars3-1">
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Circle progress bars
        </h2>
        <h3 class="mbr-section-subtitle mbr-fonts-style display-5">
            Mobirise has provided for website developers a growing library of modern blocks which can be used either partially or in full for every website developed through the builder.
        </h3>

        <div class="media-container-row pt-5 mt-2">
            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress1" role="progressbar" data-goal="50">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div>
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Amenity
                    </h4>
                </div>
            </div>
            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress2" role="progressbar" data-goal="60">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div>
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Publick transport
                    </h4>
                </div>
            </div>
            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress3" role="progressbar" data-goal="70">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div>
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Nightlife
                    </h4>
                </div>
            </div>



        </div>
    </div>
</section>

