
@{
    ViewData["Title"] = "VoterAmount";
}
<section class="progress-bars3 cid-rgR7mIizVm" id="progress-bars3-22">

    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Circle progress bars
        </h2>
        <h3 class="mbr-section-subtitle mbr-fonts-style display-5">
           Voters
        </h3>

        <div class="media-container-row pt-5 mt-2">
            @foreach (var item in ViewBag.Graph) { 
               
            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress1" role="progressbar" data-goal="@item.count*8">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div>
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        @item.name
                    </h4>
                </div>
            </div>
        }
        </div>
    </div>
</section>
